.locations {
  margin-top: 44px;
  margin-bottom: 95px;
  @include media-breakpoint-up(md) {
    margin-top: 137px;
    margin-bottom: 95px;
  }
  .location-card {
    max-width: 458px;
    @include media-breakpoint-down(sm) {
      &:not(.last-item) {
        margin-bottom: 52px;
      }
    }
    &__title {
      margin-bottom: 20px;
      text-transform: uppercase;
      letter-spacing: 2.8px;
      color: $green;
      border-bottom: solid 4px $green;
    }
    &__address {
      font-size: 18px;
      letter-spacing: 0.18px;
      line-height: 28px;
      color: $teal;
      a {
        text-decoration: underline;
        color: $red;
        &.last-item {
          color: #aaa;
        }
      }
    }
    &__image {
      margin-top: 40.5px;
    }
  }
}
